@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?eiae7c');
  src:  url('../fonts/icons/icomoon.eot?eiae7c#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?eiae7c') format('truetype'),
    url('../fonts/icons/icomoon.woff?eiae7c') format('woff'),
    url('../fonts/icons/icomoon.svg?eiae7c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/montserrat/Montserrat-Light.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/montserrat/Montserrat-Regular.otf');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/montserrat/Montserrat-Bold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
