@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?eiae7c');
  src:  url('../fonts/icons/icomoon.eot?eiae7c#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?eiae7c') format('truetype'),
    url('../fonts/icons/icomoon.woff?eiae7c') format('woff'),
    url('../fonts/icons/icomoon.svg?eiae7c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e900";
}
.icon-star:before {
  content: "\f005";
}
.icon-check:before {
  content: "\f00c";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-user-circle:before {
  content: "\f2bd";
}
