$font-family-sans-serif: 'Montserrat', sans-serif;
$black:                             #4d4d4d;
$primary:                           #32a5f1;
$navbar-light-color:                $black;
$navbar-light-active-color:         $black;
$border-color:                      #f1f1f1;
$table-striped-order:               even;

$navbar-nav-link-padding-x:        .75rem;

$input-btn-border-width:           2px;
$btn-font-weight:                  600;
$border-radius:                    1.2rem;
$border-radius-lg:                  1.4rem;
$btn-padding-x:                    1rem;

$top-nav-font-size:                .9rem;
$footer-content-bg-color:          #303030;
$footer-help-section-bg-color:     #26a2f3;
$footer-content-color:             #d8d8d8;
$footer-title-color:               #828282;
$btn-socmed-width:                 50px;
