
@import "./_fonts";

@import "~bootstrap/scss/functions";
@import "./_variables";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

@import "./_icons";

body{
  overflow-x: hidden;
}

.top-nav{
  font-size: $top-nav-font-size;
}

.package-icon{
  width: 100px;
  margin: auto;
}

.footer-content{
  position: relative;
  color: #fff;
  &::before{
    content: '';
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    z-index: -1;
    background: $footer-content-bg-color;
    transform: translateX(-50%);
  }
}
.footer-help-section{
  @extend .footer-content;

  &::before{
    background: $footer-help-section-bg-color;
  }

  &, .btn{
    font-size: 1.4rem;
  }
}
.nav-promo{
  color: inherit;
}
span.ribbon {
  position: absolute;
  top: 0;
  color: #fff;
  padding: 5px;
  &::before{
    position: absolute;
    display: block;
    width: 0;
    height: 40px;
    content: '';
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 14px solid $primary;
    border-bottom-width: 10px;
    border-bottom-color: transparent;
  }
}

$pricingbox-radius: 3px;
.pricing-section{
  border: 1px solid $border-color;
  &:not(:first-child){
    border-top: none;
  }
  &:first-child{
    font-size: 1.5rem;
    border-top-left-radius: $pricingbox-radius;
    border-top-right-radius: $pricingbox-radius;
  }
  &:last-child{
    border-bottom-left-radius: $pricingbox-radius;
    border-bottom-right-radius: $pricingbox-radius;
  }
}
.pricing-item-wrapper.recommended{
  .pricing-section{
    border-color: $primary;
  }
  .pricing-name, .pricing-price{
    color: $light;
    background: $primary
  }
  .pricing-users{
    color: $light;
    background: #027fde;
  }
}

section#share{
  @extend .footer-content;
  color: inherit;
  &::before{
    background: $gray-200;
  }
}

.footer-content{
  line-height: 2;
}
.footer-menu {
    list-style-type: none;
    padding: 0;
    color: $footer-content-color;
    font-size: .9rem;
}

.footer-title{
  color: $footer-title-color;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.btn-socmed {
  display: flex;
  width: $btn-socmed-width;
  height: $btn-socmed-width;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  &  > [class^=icon-], [class*=" icon-"] {
    margin: auto;
  }
}
.subscribe-form{
  .btn{
    font-weight: 400;
  }
  input{
    height: calc(#{$input-height} + 8px);
    border-radius: calc(#{$border-radius} + 4px);
  }
}
.input-group {
  position: relative;
  .input-group-append {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
.price{
  font-size: 1.2rem;
  .currency + .price-item{
    font-size: 3rem;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-baseline-middle;
  }
  .price-item {
    font-weight: bolder;
    &:last-child::after{
      content: '/bln';
      font-weight: normal;
    }
  }
  .price-item + .price-item{
    &::before{
      content: '.'
    }
  }
}
.regular-price,
.sale-price{
  @extend .price;
}
.pricing-price{
  display: flex;
  flex-direction: column;
}
.sale-price{
  order: 2;
}
.sale-price + .regular-price{
  font-size: inherit;
  text-decoration: line-through;
  .price-item {
    font-weight: inherit;
    &:last-child::after{
      content: '';
    }
  }
  .currency + .price-item{
    font-size: inherit;
    font-weight: inherit;
    vertical-align: unset;
  }
}
