{% extends "layout.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="container">
    <section class="my-4 my-lg-5" id="banner">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <strong>PHP Hosting</strong>
          </h1>
          <p>Cepat, Handal, penuh dengan
            <br class="d-none d-md-block">
            Modul PHP yang anda butuhkan</p>
          <p>
            <i class="icon-check-circle text-success"></i>
            Lorem ipsum dolor sit amet, consectetur.</p>
          <p>
            <i class="icon-check-circle text-success"></i>
            Lorem ipsum dolor sit amet, consectetur.</p>
          <p>
            <i class="icon-check-circle text-success"></i>
            Lorem ipsum dolor sit amet, consectetur.</p>
          <p>
            <i class="icon-check-circle text-success"></i>
            Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
        <div class="col-md-6">
          {{ printSvg('illustration banner PHP hosting-01') | raw }}

        </div>
      </div>
    </section>
    <section class="my-5 my-lg-5" id="php-features">
      <div class="mx-auto" style="max-width: 900px">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="d-flex flex-column h-100">
              <span class="mt-auto">
                {{ printSvg('illustration-banner-PHP-zenguard01') | raw }}
              </span>
              <p class="mt-auto py-3">PHP Zend Guard Loader</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-column h-100">
              <span class="mt-auto">
                {{ printSvg('icon-composer') | raw }}
              </span>
              <p class="mt-auto py-3">PHP Composer</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-column h-100">
              <span class="mt-auto">
                {{ printSvg('icon-php-hosting-ioncube') | raw }}
                </span>
              <p class="mt-auto py-3">PHP Ioncube Loader</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="my-4 my-lg-5" id="pricing">
      <div class="section-title my-4 my-lg-5 text-center">
        <h2>Paket Hosting Singapore yang Tepat</h2>
        <p>Diskon 40% + Domain SSL Gratis untuk anda</p>
      </div>
      <div class="">
        <div class="row">
        {% for item in pricing %}
          <div class="col-md-3 px-md-0 text-center mb-3">
            <div class="pricing-item-wrapper {{ item.recommended?'recommended':''}}">
              <div class="pricing-section pricing-name p-2">
                <strong>{{ item.name }}</strong>
              </div>
              <div class="pricing-section pricing-price p-3">
                {% if item.salePrice %}
                  <div class="sale-price price">
                    {{ priceHtml(item.salePrice) | raw }}
                  </div>
                {% endif %}
                <div class="regular-price price">
                  {{ priceHtml(item.price) | raw }}
                </div>
              </div>
              <div class="pricing-section pricing-users p-3">
                {{ item.userCount }} pengguna terdaftar
              </div>
              <div class="pricing-section pricing-features p-3">
                <ul>
                  {% for feature in item.features %}
                    <li>{{ feature }}</li>
                  {% endfor %}
                </ul>
                <a href="#" class="btn {{ item.recommended?'btn-primary':'btn-outline-dark'}}">Pilih Sekarang</a>
              </div>

            </div>
          </div>

        {% endfor %}

        </div>
      </div>

    </section>
    <section class="my-4 my-lg-5" id="php-conf">
      <div class="section-title my-4 my-lg-5 text-center">
        <h2>Powerful dengan Limit PHP yang Lebih Besar</h2>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <table class="table table-striped table-bordered">
            <tr>
              <td>
                <i class="icon-check-circle text-success"></i>
                Lorem ipsum dolor sit amet
              </td>
            </tr>
            <tr>
              <td>
                <i class="icon-check-circle text-success"></i>
                Lorem ipsum dolor sit amet
              </td>
            </tr>
            <tr>
              <td>
                <i class="icon-check-circle text-success"></i>
                Lorem ipsum dolor sit amet
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-striped table-bordered">
            <tr>
              <td>
                <i class="icon-check-circle text-success"></i>
                Lorem ipsum dolor sit amet
              </td>
            </tr>
            <tr>

              <td>
                <i class="icon-check-circle text-success"></i>
                Lorem ipsum dolor sit amet
              </td>
            </tr>
            <tr>

              <td>
                <i class="icon-check-circle text-success"></i>
                Lorem ipsum dolor sit amet
              </td>
            </tr>
          </table>
        </div>
      </div>

    </section>
    <section class="my-4 my-lg-5" id="package-extras">
      <div class="section-title my-4 my-lg-5 text-center">
        <h2>Semua Paket Hosting Sudah Termasuk
        </h2>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="package-icon">
            {{ printSvg('icon PHP Hosting_PHP Semua Versi') | raw }}
          </div>
          <div class="">
            <h5>PHP Semua Versi</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="package-icon">
            {{ printSvg('icon PHP Hosting_My SQL') | raw }}
          </div>
          <div class="">
            <h5>PHP Semua Versi</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="package-icon">
            {{ printSvg('icon PHP Hosting_CPanel') | raw }}
          </div>
          <div class="">
            <h5>PHP Semua Versi</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="package-icon">
            {{ printSvg('icon PHP Hosting_garansi uptime') | raw }}
          </div>
          <div class="">
            <h5>PHP Semua Versi</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="package-icon">
            {{ printSvg('icon PHP Hosting_InnoDB') | raw }}
          </div>
          <div class="">
            <h5>PHP Semua Versi</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="package-icon">
            {{ printSvg('icon PHP Hosting_My SQL remote') | raw }}
          </div>
          <div class="">
            <h5>PHP Semua Versi</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

    </section>
    <section class="my-4 my-lg-5" id="php-laravel">
      <div class="section-title my-4 my-lg-5 text-center">
        <h2>Mendukung Penuh Framework Laravel</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="">
            <p>
              <i class="icon-check-circle text-success"></i>Lorem ipsum dolor sit amet, consectetur.</p>
            <p>
              <i class="icon-check-circle text-success"></i>Lorem ipsum dolor sit amet, consectetur.</p>
            <p>
              <i class="icon-check-circle text-success"></i>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <a href="" class="btn btn-primary">
            Pilih Hosting Anda
          </a>
        </div>
        <div class="col-md-6">
          {{ printSvg('illustration banner support laravel hosting') | raw }}
        </div>
      </div>
    </section>
    <section class="my-4 my-lg-5" id="php-modules">
      <div class="section-title my-4 my-lg-5 text-center">
        <h2>Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</h2>
      </div>
      <div class="mx-auto" style="max-width: 1000px">
      <div class="row pb-4">
        <div class="col-md-3">
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
        </div>
        <div class="col-md-3">
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
        </div>
        <div class="col-md-3">
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
        </div>
        <div class="col-md-3">
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
          <p>IcePhp</p>
        </div>
      </div>
        <div class="text-center">
          <a href="#" class="btn btn-outline-dark">Selengkapnya</a>
        </div>
      </div>
    </section>
    <section class="mt-4 mt-lg-5" id="server-spec">
      <div class="row">
        <div class="col-md-6 pb-4">
          <div class="section-title my-4 my-lg-5">
            <h2>Linux Hosting yang Stabil
              <br class="d-none d-md-block">
              dengan Teknologi LVE</h2>
          </div>
          <div class="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <a href="#" class="btn btn-primary">Pilih Hosting Anda</a>
        </div>
        <div class="col-md-6 d-flex">
          <img class="w-100 mt-auto" src="/images/support.png" alt="">
        </div>
      </div>
    </section>
    <section class="" id="share">
      <div class="d-flex flex-lg-row py-3">
        <p class="mb-0">Bagikan jika anda menyukai halaman ini</p>
      </div>
    </section>
  </div>
{% endblock %}
