<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/dist/style.css"/>
            <title>{% block title %}{% endblock %} - My Webpage</title>
            <meta name="viewport" content="width=device-width; initial-scale=1.0" >

        {% endblock %}
    </head>
    <body>
        {{ include('partial/header.twig') }}
        <div id="content">
          {% block content %}{% endblock %}
        </div>
        {{ include('partial/footer.twig') }}
        <script src="/dist/bundle.js" charset="utf-8"></script>
    </body>
</html>
