
<footer class="footer container">
  <section class="footer-help-section py-5">
    <div class="d-flex flex-wrap">
      <div class="">
        Perlu <strong class="text-uppercase">Bantuan?</strong> Hubungi Kami <strong>0274-5305505</strong>
      </div>
      <a href="#" class="btn ml-auto btn-outline-light btn-lg px-lg-4">Live Chat <i class="icon-chat"></i></a>
    </div>
  </section>
  <section class="footer-content py-lg-5">
    <div class="row">
      <div class="col-md-3 my-lg-4">
        <h6 class="footer-title">Hubungi Kami</h6>
        <ul class="footer-menu">
          <li>0274-5305505 </li>
          <li>Senin - Minggu</li>
          <li>24 Jam Non-stop</li>
        </ul>
        <ul class="footer-menu">
          <li>Jl Selokan Mataram Monjali </li>
          <li>Karangjati MT I/304</li>
          <li>Sinduadi, Mlati,Sleman </li>
          <li>Yogyakarta 55284</li>
        </ul>
      </div>
      <div class="col-md-3 my-lg-4">
        <h6 class="footer-title">Layanan</h6>
        <ul class="footer-menu">
          <li>Domain </li>
          <li>Shared Hosting </li>
          <li>Cloud VPS Hosting </li>
          <li>Managed VPS Hosting</li>
          <li>Web Builder </li>
          <li>Keamanan SSL/TLS </li>
          <li>Jasa Pembuatan Website</li>
          <li>Program Afiliasi</li>
        </ul>
      </div>
      <div class="col-md-3 my-lg-4">
        <h6 class="footer-title">Service Hosting</h6>
        <ul class="footer-menu">
          <li>Hosting Murah</li>
          <li>Hosting Indonesia</li>
          <li>Hosting Singapura SG</li>
          <li>Hosting PHP</li>
          <li>Hosting Wordpress</li>
          <li>Hosting Laravel</li>
        </ul>
      </div>
      <div class="col-md-3 my-lg-4">
        <h6 class="footer-title">Tutorial</h6>
        <ul class="footer-menu">
          <li>Knowledgebase</li>
          <li>Blog</li>
          <li>Cara Pembayaran</li>
        </ul>
      </div>
      <div class="col-md-3 my-lg-4">
        <h6 class="footer-title">Tentang Kami</h6>
        <ul class="footer-menu">
          <li>Tim Niagahoster</li>
          <li>Karir</li>
          <li>Events</li>
          <li>Penawaran dan Promo Spesial</li>
          <li>Kontak Kami</li>
        </ul>
      </div>
      <div class="col-md-3 my-lg-4">
        <h6 class="footer-title">Kenapa Pilih Niagahoster</h6>
        <ul class="footer-menu">
          <li>Support Terbaik</li>
          <li>Garansi harga termurah</li>
          <li>Domain Gratis Selamanya</li>
          <li>Datacenter Hosting Terbaik</li>
          <li>Review Pelanggan</li>
        </ul>
      </div>
      <div class="col-md-3 my-lg-4">
        <h6 class="footer-title">Newsletter</h6>
        <div class="input-group subscribe-form mb-3">
          <input type="text" class="form-control border-0" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary px-2" type="button">Berlangganan</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 my-lg-4 px-0">
        <div class="d-flex mt-5">
          <a href="" class="btn btn-socmed btn-outline-light btn-circle mx-3"><i class="icon-twitter"></i></a>
          <a href="" class="btn btn-socmed btn-outline-light btn-circle mx-3"><i class="icon-facebook"></i></a>
          <a href="" class="btn btn-socmed btn-outline-light btn-circle mx-3"><i class="icon-google-plus"></i></a>
        </div>
      </div>

    </div>
  </section>
</footer>
