<div class="header navbar-light">
  <div class="navbar-wrapper border-bottom">
    <div class="container px-0">
      <nav class="navbar navbar-expand-lg top-nav">
        <a href="#" class="nav-promo"><span class="ribbon"><i class="icon-tag"></i></span> <span class="pl-4 ml-3">Gratis Ebook 9 Cara Cerdas Menggunakan Domain</span></a>
        <ul class="navbar-nav ml-auto d-flex flex-row">
          <li class="nav-item">
            <a class="nav-link py-1 px-2" href="#">082131241</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 px-2" href="#"><i class="icon-chat"></i> Live chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 px-2" href="#"><i class="icon-user-circle"></i> Member Area</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="navbar-wrapper border-bottom">
    <div class="container px-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="/images/niagahoster-logo.png" width="220px" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Hosting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Domain</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Server</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Afiliasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Promo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pembayaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Review</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kontak</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>

        </div>
      </nav>

    </div>
  </div>
</div>
